<ion-view>
    <ion-content>
        <label class="item item-input">
            <input type="text" ng-model="data.nome">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="data.sobrenome">
        </label>
        <div class="row">
          <button class="button button-block button-positive" ng-click="inserir()" ui-sref="listar">Salvar</button>
        </div>  
        <div class="row">
          <button class="button button-block button-positive" ng-click="excluirTodos()">Limpar banco</button>
        </div>
        <div class="row">
          <button class="button button-block button-positive" ng-click="listarTodos()" ui-sref="listar">Listar</button>
        </div>
    </ion-content>    
</ion-view>